In [1]:
import numpy as np
import pandas as pd

In [2]:
preprocessed_data=pd.read_csv('C:/Udemy_learnings/df-preprocessed.csv')

In [3]:
preprocessed_data['Education'].value_counts()

0    583
1    117
Name: Education, dtype: int64

In [4]:
preprocessed_data.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

In [5]:
preprocessed_data['Absenteeism Time in Hours'].median()

3.0

In [6]:
targets = np.where(preprocessed_data['Absenteeism Time in Hours']>preprocessed_data['Absenteeism Time in Hours'].median(),1,0)

In [7]:
data_with_targets = preprocessed_data.drop('Absenteeism Time in Hours',axis=1)

In [8]:
data_with_targets['Excessive Absenteeism']= targets

In [9]:
data_with_targets.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Day of the Week', 'Transportation Expense', 'Distance to Work',
       'Age', 'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Excessive Absenteeism'], dtype=object)

In [10]:
targets= data_with_targets['Excessive Absenteeism']

In [11]:
data_with_targets = data_with_targets.drop(['Excessive Absenteeism','Distance to Work','Age', 'Daily Work Load Average'],axis=1)

In [12]:
data_with_targets.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Body Mass Index,Education,Children,Pets
0,0,0,0,1,7,1,289,30,0,2,1
1,0,0,0,0,7,1,118,31,0,1,0
2,0,0,0,1,7,2,179,31,0,0,0
3,1,0,0,0,7,3,279,24,0,2,0
4,0,0,0,1,7,3,289,30,0,2,1

In [13]:
data_with_targets is preprocessed_data

False

In [14]:
targets

0      1
1      0
2      0
3      1
4      0
5      0
6      1
7      1
8      1
9      1
10     1
11     1
12     1
13     0
14     1
15     1
16     0
17     1
18     1
19     0
20     1
21     0
22     1
23     1
24     1
25     1
26     0
27     1
28     1
29     0
      ..
670    1
671    1
672    0
673    0
674    1
675    0
676    0
677    0
678    1
679    0
680    0
681    1
682    1
683    1
684    0
685    0
686    0
687    0
688    0
689    0
690    0
691    0
692    1
693    1
694    1
695    1
696    0
697    1
698    0
699    0
Name: Excessive Absenteeism, Length: 700, dtype: int32

In [15]:
target_data = data_with_targets.copy()  #checkpoint

## Getting inputs

In [16]:
unscaled_inputs = target_data.iloc[:,:-1]

In [17]:
unscaled_inputs.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Body Mass Index,Education,Children
0,0,0,0,1,7,1,289,30,0,2
1,0,0,0,0,7,1,118,31,0,1
2,0,0,0,1,7,2,179,31,0,0
3,1,0,0,0,7,3,279,24,0,2
4,0,0,0,1,7,3,289,30,0,2

# List Comprehension

In [18]:
#columns_to_omit = ['Distance to Work','Age', 'Daily Work Load Average']
#columns_to_scale = [x for x in unscaled_inputs.columns.values if x not in columns_to_omit]

In [19]:
#columns_to_scale
unscaled_inputs

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Body Mass Index,Education,Children
0,0,0,0,1,7,1,289,30,0,2
1,0,0,0,0,7,1,118,31,0,1
2,0,0,0,1,7,2,179,31,0,0
3,1,0,0,0,7,3,279,24,0,2
4,0,0,0,1,7,3,289,30,0,2
5,0,0,0,1,7,4,179,31,0,0
6,0,0,0,1,7,4,361,27,0,1
7,0,0,0,1,7,4,260,23,0,4
8,0,0,1,0,7,0,155,25,0,2
9,0,0,0,1,7,0,235,29,1,1
10,1,0,0,0,7,0,260,23,0,4
11,1,0,0,0,7,1,260,23,0,4
12,1,0,0,0,7,2,260,23,0,4
13,1,0,0,0,7,2,179,31,0,0
14,0,0,0,1,7,2,179,31,0,0
15,1,0,0,0,7,4,246,23,0,0
16,0,0,0,1,7,4,179,31,0,0
17,0,0,1,0,7,0,179,31,0,0
18,1,0,0,0,7,3,189,25,0,2
19,0,0,0,1,8,2,248,32,0,2
20,1,0,0,0,8,2,330,25,1,0
21,1,0,0,0,8,0,179,31,0,0
22,1,0,0,0,8,0,361,27,0,1
23,0,0,0,1,8,4,260,23,0,4
24,0,0,1,0,8,0,289,30,0,2
25,0,0,0,1,8,0,361,27,0,1
26,0,0,0,1,8,1,289,30,0,2
27,0,0,0,1,8,2,157,22,0,0
28,0,0,1,0,8,2,289,30,0,2
29,0,0,0,1,8,4,179,31,0,0
...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,1,4,1,155,25,0,2
671,0,0,1,0,4,3,225,24,0,1
672,1,0,0,0,4,3,118,31,0,1
673,0,0,0,1,4,4,179,19,1,0
674,0,0,0,1,5,0,235,29,1,1
675,0,0,1,0,5,2,225,28,1,2
676,0,0,0,1,5,2,235,25,1,0
677,1,0,0,0,5,2,118,28,0,0
678,0,0,0,1,5,2,235,38,0,1
679,1,0,0,0,5,3,179,19,1,0
680,0,0,0,1,5,3,291,25,0,1
681,1,0,0,0,5,3,225,28,1,2
682,0,0,1,0,5,4,300,25,0,2
683,0,0,0,1,5,4,225,28,1,2
684,0,0,0,1,5,4,179,19,1,0
685,0,0,0,1,5,0,118,31,0,1
686,1,0,0,0,5,1,118,31,0,1
687,0,0,0,1,5,1,118,28,0,0
688,0,0,0,0,5,1,118,31,0,1
689,0,0,0,1,5,2,179,19,1,0
690,0,0,0,0,5,2,378,21,0,2
691,0,1,0,0,5,4,179,22,1,2
692,1,0,0,0,5,0,155,25,0,2
693,1,0,0,0,5,0,235,25,1,0
694,0,0,0,1,5,2,291,25,0,1
695,1,0,0,0,5,2,179,22,1,2
696,1,0,0,0,5,2,225,24,0,1
697,1,0,0,0,5,3,330,25,1,0
698,0,0,0,1,5,3,235,25,1,0
699,0,0,0,1,5,3,291,25,0,1

## Standardizing Data

In [20]:
from sklearn.preprocessing import StandardScaler

In [21]:
scaler = StandardScaler()

In [22]:
scaler.fit(unscaled_inputs) # calculates mean and std dev and stores it in scaler, so standardization info would always be in scaler now which can be reused as new data comes in

StandardScaler(copy=True, with_mean=True, with_std=True)

In [23]:
scaled_inputs = scaler.transform(unscaled_inputs) # transform to actually use the scaled info

In [24]:
scaled_inputs

array([[-0.57735027, -0.09298136, -0.31448545, ...,  0.76743118,
        -0.44798003,  0.88046927],
       [-0.57735027, -0.09298136, -0.31448545, ...,  1.00263338,
        -0.44798003, -0.01928035],
       [-0.57735027, -0.09298136, -0.31448545, ...,  1.00263338,
        -0.44798003, -0.91902997],
       ...,
       [ 1.73205081, -0.09298136, -0.31448545, ..., -0.40857982,
         2.23224237, -0.91902997],
       [-0.57735027, -0.09298136, -0.31448545, ..., -0.40857982,
         2.23224237, -0.91902997],
       [-0.57735027, -0.09298136, -0.31448545, ..., -0.40857982,
        -0.44798003, -0.01928035]])

In [25]:
from sklearn.model_selection import train_test_split

## Split

In [26]:
train_test_split(scaled_inputs,targets)

[array([[-0.57735027, -0.09298136, -0.31448545, ...,  1.23783558,
         -0.44798003,  0.88046927],
        [ 1.73205081, -0.09298136, -0.31448545, ...,  1.00263338,
         -0.44798003, -0.91902997],
        [ 1.73205081, -0.09298136, -0.31448545, ...,  0.29702678,
         -0.44798003, -0.91902997],
        ...,
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.64378202,
         -0.44798003, -0.01928035],
        [-0.57735027, -0.09298136, -0.31448545, ...,  1.00263338,
         -0.44798003, -0.91902997],
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.64378202,
         -0.44798003, -0.01928035]]),
 array([[ 1.73205081, -0.09298136, -0.31448545, ...,  1.23783558,
         -0.44798003,  0.88046927],
        [-0.57735027, -0.09298136, -0.31448545, ...,  0.76743118,
         -0.44798003,  0.88046927],
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.87898422,
         -0.44798003, -0.91902997],
        ...,
        [-0.57735027, -0.09298136, -0.31448545, ...,  1.00263338,
         -0.44798003, -0.91902997],
        [-0.57735027, -0.09298136, -0.31448545, ...,  1.94344218,
         -0.44798003,  0.88046927],
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.87898422,
         -0.44798003,  2.67996851]]),
 416    1
 191    1
 546    1
 255    1
 505    1
 536    1
 594    0
 85     1
 610    0
 207    1
 239    1
 507    0
 673    0
 575    0
 240    1
 632    0
 109    1
 356    0
 611    0
 354    1
 668    0
 218    1
 381    0
 457    0
 496    0
 136    0
 60     0
 156    1
 554    0
 36     1
       ..
 260    0
 423    1
 439    1
 279    1
 379    0
 235    0
 142    0
 555    1
 462    1
 603    0
 385    0
 48     1
 128    0
 589    0
 350    0
 525    1
 444    1
 399    1
 643    0
 245    0
 485    1
 312    0
 308    1
 606    1
 562    0
 620    0
 225    1
 113    0
 544    0
 560    0
 Name: Excessive Absenteeism, Length: 525, dtype: int32,
 635    0
 484    1
 509    1
 81     0
 124    0
 301    1
 483    1
 561    1
 696    0
 459    1
 69     0
 581    0
 77     1
 512    0
 264    0
 167    1
 629    1
 284    0
 295    1
 177    1
 34     0
 57     0
 87     1
 159    1
 131    0
 143    1
 342    0
 12     1
 686    0
 591    0
       ..
 199    1
 262    0
 534    1
 588    0
 684    0
 647    1
 157    0
 161    1
 424    0
 79     0
 393    1
 324    1
 237    1
 538    1
 445    1
 527    1
 563    1
 353    1
 47     1
 363    1
 96     1
 358    1
 205    0
 569    1
 122    0
 413    0
 374    0
 42     1
 276    0
 61     1
 Name: Excessive Absenteeism, Length: 175, dtype: int32]

In [27]:
x_train,x_test,y_train,y_test = train_test_split(scaled_inputs,targets,train_size=0.8,random_state=20)

In [28]:
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(560, 10) (140, 10) (560,) (140,)

# Model

In [29]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [30]:
reg = LogisticRegression()

In [31]:
reg.fit(x_train,y_train)

C:\Users\Vishnu\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [32]:
reg.score(x_train,y_train)

0.7767857142857143

### working of .score()

In [33]:
predicted =reg.predict(x_train)

In [34]:
predicted == y_train

346     True
91      True
299    False
129     True
695     True
556     True
642     True
523     True
627     True
3       True
543    False
637     True
683    False
510    False
52      True
328     True
63      True
62      True
527    False
354     True
456    False
632     True
71     False
308    False
214     True
503     True
370     True
21     False
596     True
303     True
       ...
401     True
509    False
259     True
274     True
288     True
478     True
441     True
203     True
537     True
653     True
282     True
6       True
255     True
485     True
617     True
144     True
190     True
698     True
469     True
552     True
118     True
162    False
583     True
404     True
393     True
218     True
223    False
271     True
474     True
355     True
Name: Excessive Absenteeism, Length: 560, dtype: bool

In [35]:
np.sum(predicted == y_train)

435

In [36]:
np.sum(predicted == y_train)/y_train.shape[0]

0.7767857142857143

Getting the intercepts and coefficients

In [37]:
reg.intercept_[0]

-0.2358125867170261

In [38]:
reg.coef_

array([[ 2.03488389,  0.32429981,  1.47563284,  1.28769609,  0.18430137,
        -0.05311406,  0.57079471,  0.23684673, -0.09187716,  0.37036277]])

In [39]:
column_values=unscaled_inputs.columns.values

In [40]:
summary_table= pd.DataFrame(columns=['Feature name'],data=column_values)  ##creating the dataframe, defining col value and data

In [41]:
summary_table['Coefficient'] = np.transpose(reg.coef_)
summary_table

             Feature name  Coefficient
0                Reason_1     2.034884
1                Reason_2     0.324300
2                Reason_3     1.475633
3                Reason_4     1.287696
4             Month Value     0.184301
5         Day of the Week    -0.053114
6  Transportation Expense     0.570795
7         Body Mass Index     0.236847
8               Education    -0.091877
9                Children     0.370363

In [42]:
summary_table.index=summary_table.index-1 # moving index by 1 so that we can add the intercept here

In [43]:
summary_table.loc[0]=['Intercept',reg.intercept_[0]]

In [44]:
summary_table= summary_table.sort_index()

In [45]:
summary_table

              Feature name  Coefficient
-1                Reason_1     2.034884
 0               Intercept    -0.235813
 1                Reason_3     1.475633
 2                Reason_4     1.287696
 3             Month Value     0.184301
 4         Day of the Week    -0.053114
 5  Transportation Expense     0.570795
 6         Body Mass Index     0.236847
 7               Education    -0.091877
 8                Children     0.370363

## Interpreting Coefficients

In [46]:
type(summary_table.Coefficient[0])
summary_table.Coefficient = np.float64(summary_table.Coefficient)
#summary_table['Odds_ratio']=map(float(),np.exp(summary_table.Coefficient))
summary_table['Odds_ratio'] = np.exp(summary_table.Coefficient)

In [48]:
summary_table.sort_values('Odds_ratio',ascending=False)

              Feature name  Coefficient  Odds_ratio
-1                Reason_1     2.034884    7.651364
 1                Reason_3     1.475633    4.373803
 2                Reason_4     1.287696    3.624427
 5  Transportation Expense     0.570795    1.769673
 8                Children     0.370363    1.448260
 6         Body Mass Index     0.236847    1.267247
 3             Month Value     0.184301    1.202378
 4         Day of the Week    -0.053114    0.948272
 7               Education    -0.091877    0.912217
 0               Intercept    -0.235813    0.789929

# Testing

In [50]:
reg.score(x_test,y_test)

0.7142857142857143

In [54]:
predict_probability = reg.predict_proba(x_test)
predict_probability

array([[0.75204906, 0.24795094],
       [0.56244195, 0.43755805],
       [0.44038576, 0.55961424],
       [0.82208379, 0.17791621],
       [0.07709397, 0.92290603],
       [0.33469418, 0.66530582],
       [0.23002661, 0.76997339],
       [0.08007859, 0.91992141],
       [0.77908593, 0.22091407],
       [0.77699544, 0.22300456],
       [0.36100402, 0.63899598],
       [0.27532374, 0.72467626],
       [0.06673607, 0.93326393],
       [0.71686737, 0.28313263],
       [0.14622066, 0.85377934],
       [0.68086001, 0.31913999],
       [0.42362503, 0.57637497],
       [0.43713007, 0.56286993],
       [0.2247312 , 0.7752688 ],
       [0.04008678, 0.95991322],
       [0.66779853, 0.33220147],
       [0.81677155, 0.18322845],
       [0.39761093, 0.60238907],
       [0.41493   , 0.58507   ],
       [0.19335264, 0.80664736],
       [0.7305172 , 0.2694828 ],
       [0.53649806, 0.46350194],
       [0.89374172, 0.10625828],
       [0.17814005, 0.82185995],
       [0.81133709, 0.18866291],
       [0.59622255, 0.40377745],
       [0.27078499, 0.72921501],
       [0.3194359 , 0.6805641 ],
       [0.33709904, 0.66290096],
       [0.81677155, 0.18322845],
       [0.50621893, 0.49378107],
       [0.76989664, 0.23010336],
       [0.24447539, 0.75552461],
       [0.5044427 , 0.4955573 ],
       [0.43414895, 0.56585105],
       [0.80838244, 0.19161756],
       [0.60841525, 0.39158475],
       [0.75738426, 0.24261574],
       [0.91089178, 0.08910822],
       [0.10213694, 0.89786306],
       [0.39759837, 0.60240163],
       [0.32284713, 0.67715287],
       [0.7452936 , 0.2547064 ],
       [0.80203528, 0.19796472],
       [0.83695845, 0.16304155],
       [0.44769931, 0.55230069],
       [0.94819608, 0.05180392],
       [0.34273592, 0.65726408],
       [0.72624079, 0.27375921],
       [0.1227674 , 0.8772326 ],
       [0.50055576, 0.49944424],
       [0.05614406, 0.94385594],
       [0.78818796, 0.21181204],
       [0.93078267, 0.06921733],
       [0.92969794, 0.07030206],
       [0.3331113 , 0.6668887 ],
       [0.35468562, 0.64531438],
       [0.727426  , 0.272574  ],
       [0.15092376, 0.84907624],
       [0.75563248, 0.24436752],
       [0.75823048, 0.24176952],
       [0.98837116, 0.01162884],
       [0.75692972, 0.24307028],
       [0.23083489, 0.76916511],
       [0.67227573, 0.32772427],
       [0.76989664, 0.23010336],
       [0.92881168, 0.07118832],
       [0.08864798, 0.91135202],
       [0.47459382, 0.52540618],
       [0.4016598 , 0.5983402 ],
       [0.81133709, 0.18866291],
       [0.19670066, 0.80329934],
       [0.25846307, 0.74153693],
       [0.22453097, 0.77546903],
       [0.17211093, 0.82788907],
       [0.73379522, 0.26620478],
       [0.98253544, 0.01746456],
       [0.80561248, 0.19438752],
       [0.21351095, 0.78648905],
       [0.52583209, 0.47416791],
       [0.90621024, 0.09378976],
       [0.3045548 , 0.6954452 ],
       [0.42367191, 0.57632809],
       [0.94202251, 0.05797749],
       [0.27793265, 0.72206735],
       [0.84081372, 0.15918628],
       [0.87859343, 0.12140657],
       [0.80315038, 0.19684962],
       [0.74482404, 0.25517596],
       [0.78919005, 0.21080995],
       [0.13884415, 0.86115585],
       [0.7421074 , 0.2578926 ],
       [0.22557205, 0.77442795],
       [0.77577354, 0.22422646],
       [0.77571437, 0.22428563],
       [0.38511581, 0.61488419],
       [0.263754  , 0.736246  ],
       [0.28080923, 0.71919077],
       [0.3226058 , 0.6773942 ],
       [0.46087906, 0.53912094],
       [0.41324473, 0.58675527],
       [0.76173052, 0.23826948],
       [0.15223068, 0.84776932],
       [0.25645963, 0.74354037],
       [0.86439428, 0.13560572],
       [0.98425252, 0.01574748],
       [0.09289959, 0.90710041],
       [0.35240868, 0.64759132],
       [0.62520628, 0.37479372],
       [0.4834763 , 0.5165237 ],
       [0.45064141, 0.54935859],
       [0.18543937, 0.81456063],
       [0.13471045, 0.86528955],
       [0.39180459, 0.60819541],
       [0.66407986, 0.33592014],
       [0.78030253, 0.21969747],
       [0.86575932, 0.13424068],
       [0.23237073, 0.76762927],
       [0.58247549, 0.41752451],
       [0.81133709, 0.18866291],
       [0.61192155, 0.38807845],
       [0.82451555, 0.17548445],
       [0.89886827, 0.10113173],
       [0.25500685, 0.74499315],
       [0.65978606, 0.34021394],
       [0.38670621, 0.61329379],
       [0.81925995, 0.18074005],
       [0.71368213, 0.28631787],
       [0.63717146, 0.36282854],
       [0.75092614, 0.24907386],
       [0.51039674, 0.48960326],
       [0.42831684, 0.57168316],
       [0.68429651, 0.31570349],
       [0.75648282, 0.24351718],
       [0.47459382, 0.52540618]])

2 columns - 1 st col gives the probablity of getting a 0 and the second col gives the probability of getting a 1

    Adding both horizontally gives 1

# Save the Model

Saving the model = saving the reg object

Use pickle - to convert python module into a character stream

In [57]:
import pickle

In [58]:
with open('model','wb') as file:
    pickle.dump(reg,file)
    
    #'model' is the name of our model, 'wb' as in write bytes
    #we dump our model when we pickle it and load our model when we unpickle

In [60]:
with open('scaler','wb') as file:
    pickle.dump(scaler,file)